/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/app/public/**
/storage/debugbar/**
/storage/framework/cache/data/**
/storage/framework/sessions/**
/storage/framework/views/**
/storage/logs/**
.env
.env.*.local
.env.production
.phpunit.result.cache
homestead.json
homestead.yaml
.auth.json
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
*.log
.php_cs
.php_cs.cache
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace
.phpunit.cache
!.env.example
